<div class="beginnerContainer">

	<div class="navBar">
		<div class="navBarTitle">BEGINNER</div>
		<div class="navBarMenuButton">
			<div class="touchEffect" ng-click="changeView('menu')" touch-effect></div>
		</div>
	</div>

	<div class="beginnerWrapper" scroller>
		<div class="beginnerItemWrapper">
			<div class="beginnerItem beginnerPartOneImage">
				<div class="touchEffect" ng-click="" touch-effect></div>
			</div>
			<div class="beginnerItemText">
				Part 1<br>
				Five <br>
				Shapes
			</div>
		</div>

		<div class="beginnerItemWrapper">
			<div class="beginnerItem beginnerPartOneImage"></div>
			<div class="beginnerItemText">
				Part 1<br>
				Five <br>
				Shapes
			</div>
		</div>

		<div class="beginnerItemWrapper">
			<div class="beginnerItem beginnerPartOneImage"></div>
			<div class="beginnerItemText">
				Part 1<br>
				Five <br>
				Shapes
			</div>
		</div>

	</div>


</div>


