<div class="lessonsContainer">
	<div class="lessonsWrapper">
		<div class="lessonsText">Describe your guitar playing</div>
		<div class="lessonsButton lessonsButtonHighLight">never played
			<div class="touchEffect" ng-click="changeView('lessons')" touch-effect></div>
		</div>
		<div class="lessonsButton">know three songs
			<div class="touchEffect" ng-click="changeView('lessons')" touch-effect></div>
		</div>
		<div class="lessonsButton">play in a band
			<div class="touchEffect" ng-click="changeView('lessons')" touch-effect></div>
		</div>
		<div class="lessonsButton">grammy winner
			<div class="touchEffect" ng-click="changeView('lessons')" touch-effect></div>
		</div>
	</div>
</div>


