		
			<div class="postAvatar" ng-style="postsViewNavigator.setBackgroundImage(post.user.avatar_image)"></div>
			<div class="postUserName" ng-bind="post.user.user_name"></div>
			<div class="postTextGrid" ng-bind="post.text"></div>
			<div class="postAllGridPhoto" ng-show="post.photo" ng-style="postsViewNavigator.setBackgroundImage(post.photo)"></div>
			<div class="postAllGridPhoto" ng-show="post.video" ng-style="postsViewNavigator.setBackgroundImage(post.video)"></div>

			<div class="postToggleContainer">
				<div class="expandCommentsButton" ng-hide="post.toggleComment || !post.comments" ng-click="postsViewNavigator.openGridComments($index, post.column)">Expand</div>
				<div class="collapseCommentsButton" ng-show="post.toggleComment" ng-click="postsViewNavigator.closeGridComments($index, post.column)">Collapse</div>
				<div class="postTimeGrid" ng-bind="post.time"></div>
				<div class="postFavoriteButtonGrid"></div>
				<div class="postShareButtonGrid"></div>
			</div>

			<div class="postCommentsContainer" ng-show="post.toggleComment" >
				<div class="commentRowListFormat" ng-repeat="comment in post.comments">
					<div class="postAvatar" ng-style="postsViewNavigator.setBackgroundImage(comment.avatar_image)"></div>
					<div class="postUserName" ng-bind="comment.user_name"></div>
					<div class="postTextGrid" ng-bind="comment.text"></div>
				</div>
			</div>