<div class="postsGridContainer" ng-class="{postsActive: postsViewNavigator.postType === 'videos'}">

	<div class="gridLeft">
		<div class="postRowGrid" ng-repeat="post in postsViewNavigator.videoData.left">
			<single-post-grid-template></single-post-grid-template>
		</div>
	</div>

	<div class="gridLeft">
		<div class="postRowGrid" ng-repeat="post in postsViewNavigator.videoData.middle">
			<single-post-grid-template></single-post-grid-template>
		</div>
	</div>

	<div class="gridRight">
		<div class="postRowGrid" ng-repeat="post in postsViewNavigator.videoData.right">
			<single-post-grid-template></single-post-grid-template>
		</div>
	</div>
	<div class="clear"></div>
</div>
