<div class="navBarContainer" ng-controller="navBarController">

	<div class="navBarLogo">
		simply<span class="logoGreyFont">social</span>
		<div class="touchEffectDark" ng-click="changeView('/home')"></div>
	</div>

	<div class="navBarActionsContainer">
		<div class="navBarChatButton"> 
			<div class="touchEffectDark" ng-click="openMessage()"></div>
		</div>
		<input class="navBarSearchField" type="text" ng-model="searchText" autocorrect='on' ng-trim="false" maxlength="20" ng-enter="" tabindex="99"></input>
		<div class="navBarSettingsButton" ng-mouseenter="settingsMenuOpen = true" ng-mouseleave="settingsMenuOpen = false">
			<div class="navBarUserAvatar" ng-style="setAvatarImage()"></div>
		</div>
	</div>

	<div class="navBarSettingsContainer" ng-class="{navBarSettingsContainerActive: settingsMenuOpen}" ng-mouseenter="settingsMenuOpen = true" ng-mouseleave="settingsMenuOpen = false">
		<div class="navBarSettingsLink">Profile
			<div class="touchEffectLight" ng-click="changeView('/profile')"></div>
		</div>
		<div class="navBarSettingsLink">Followers
			<div class="touchEffectLight"></div>
		</div>
		<div class="navBarSettingsLink">Following
			<div class="touchEffectLight"></div>
		</div>
		<div class="navBarSettingsLink">Settings
			<div class="touchEffectLight" ng-click="changeView('/settings')"></div>
		</div>
	</div>

</div>


