<div class="messageContainer" ng-controller="messageController" send-message-view-logic>

	<div class="messageBackgroundCover" ng-click="closeMessage()"></div>
	<div class="sendMessageContainer">
		<div class="messageCloseButton" ng-click="closeMessage()"></div>
		<div class="messageTitle">Create New Message</div>
		<textarea class="sendMessageField" type="text" ng-model="messageText" autocorrect='on' ng-trim="false" maxlength="255" ng-enter="" placeholder='' tabindex="1"></textarea>

		<div class="messageAddPhotoButton">Add Photo</div>
		<div class="messageAddVideoButton">Add Video</div>
		<div class="messagePostButton">Post
			<div class="touchEffectLight" ng-click=""></div>
		</div>
	</div>

</div>

