<div class="homeContainer" posts-view-navigator> <!-- require directive to handle posts view logic -->

	<div class="homeMainContainer">

		<div class="homeSendMessageContainer">
			<input class="homeSendMessageField" type="text" ng-model="messageText" autocorrect='on' ng-trim="false" maxlength="100" ng-enter="" placeholder='What’s on your mind?' tabindex="1" ng-keydown="activePostButton()"></input>
			<div class="homeAddPhotoButton">Add Photo
				<div class="touchEffectGreen" ng-click=""></div>
			</div>
			<div class="homeAddVideoButton">Add Video
				<div class="touchEffectGreen" ng-click=""></div>
			</div>
			<div class="homePostButton" ng-class="{homePostButtonActive: displayPostButton}">Post
				<div class="touchEffectGreen" ng-click="createMessage()"></div>
			</div>
			
		</div>

		<div class="homePostsTabsContainer" posts-tabs-scope>
			<div class="homePostsTab" ng-class="{homePostsTabActive: postsViewNavigator.postType === 'allListView' || postsViewNavigator.postType === 'allGridView'}" ng-click="postsViewNavigator.changePostsView('allListView')">ALL POSTS</div>
			<div class="homePostsTab" ng-class="{homePostsTabActive: postsViewNavigator.postType === 'photos'}" ng-click="postsViewNavigator.changePostsView('photos')">PHOTOS</div>
			<div class="homePostsTab" ng-class="{homePostsTabActive: postsViewNavigator.postType === 'videos'}" ng-click="postsViewNavigator.changePostsView('videos')">VIDEOS</div>

			<div class="togglePostButtonsContainer" ng-class="{togglePostButtonsContainerActive: postsViewNavigator.postType === 'allListView' || postsViewNavigator.postType === 'allGridView'}" >
				<div class="toogleGridViewButton" ng-class="{toogleGridViewButtonActive: postsViewNavigator.postType === 'allGridView'}" ng-click="postsViewNavigator.changePostsView('allGridView')"></div>
				<div class="toogleListViewButton" ng-class="{toogleListViewButtonActive: postsViewNavigator.postType === 'allListView'}" ng-click="postsViewNavigator.changePostsView('allListView')"></div>
			</div>
		</div>
	</div>

<div class="homePostsContainer">
	<posts-all-list-template></posts-all-list-template>
	<posts-all-grid-template></posts-all-grid-template>
	<posts-photos-template></posts-photos-template>
<div>



</div>

