<div class="menuContainer">

	<div class="navBar">
		<div class="navBarTitle navBarTitleMenu">MENU</div>
		<div class="navBarExitButton">
			<div class="touchEffect" ng-click="changeView('menu')" touch-effect></div>
		</div>
	</div>

	<div class="menuWrapper" scroller>
		<div class="menuTitle">Skill Level</div>

		<div class="menuButton">Beginner
			<div class="touchEffectDark" ng-click="changeView('beginner')" touch-effect></div>
		</div>
		<div class="menuButton">Intermediate
			<div class="touchEffectDark" ng-click="changeView('beginner')" touch-effect></div>
		</div>
		<div class="menuButton">Advanced
			<div class="touchEffectDark" ng-click="changeView('beginner')" touch-effect></div>
		</div>
		<div class="menuButton menuButtonNoBorder">Expert
			<div class="touchEffectDark" ng-click="changeView('beginner')" touch-effect></div>
		</div>

		<div class="menuTitle">Other</div>
		<div class="menuButton menuButtonNoBorder">Show Startup Screen
			<div class="touchEffectDark" ng-click="changeView('intro')" touch-effect></div>
		</div>

	</div>


</div>


