

.beginnerContainer {position: absolute;top:0;left: 0;z-index: 1;width: 100%;height: 100%;background-color: #fff}

.beginnerWrapper {position: absolute;top:0;left: 0;z-index: 3;width: 100%;height: 100%;overflow-x: hidden; overflow-y: scroll; .border-box ;-webkit-overflow-scrolling: touch;padding-top: 70px;}

.beginnerItemWrapper {position: relative; width: 100%; height: 200px; margin-bottom: 20px}

.beginnerItem {position: relative;width: 200px;height: 200px;margin: auto; background: no-repeat center; background-size: 100%; overflow: hidden; }

.beginnerPartOneImage {background-image: url("@{beginnerImages}/part_one.jpg")}
.beginnerPartTwoImage {background-image: url("@{beginnerImages}/part_two.jpg")}
.beginnerPartThreeImage {background-image: url("@{beginnerImages}/part_three.jpg")}

.beginnerItemText {position: absolute;top:70px; left:50%; width: 60px; margin-left: 110px; height: 80px;  color: #946e59; text-align: center; font-size: 18px; .Brown-Light; line-height: 20px;}

.inActiveText {color: #c9b6ac}

.comingSoon {position: absolute;top:0;left: 0;z-index: 3;width: 100%;height: 100%;overflow-x: hidden; overflow-y: scroll; .border-box ;-webkit-overflow-scrolling: touch;padding-top: 70px;background: url("@{beginnerImages}/coming_soon.jpg") no-repeat center; .background-cover; }

.comingSoonText {position: absolute; z-index: 1; top:0; bottom:0;left:0; right:0; margin:auto; width: 200px; height: 40px; line-height: 40px; .Brown-Bold; text-align: center; font-size: 18px; color: rgba(255, 255, 255, 0.7);}




