.background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* FONTS */
.proximaNova-Regular-font {
  font-family: 'proximaNova-Regular';
}
.openSans-Light-font {
  font-family: 'Open Sans';
  font-weight: 300;
}
.openSans-regular-font {
  font-family: 'Open Sans';
  font-weight: 400;
}
.openSans-Bold-font {
  font-family: 'Open Sans';
  font-weight: 600;
}
/* PROXIMA NOVA */
@font-face {
  font-family: proximaNova-Regular;
  src: url(../fonts/proximaNova/ProximaNova-Regular.otf);
}
body {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#appContainer {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#appViews {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.touchEffectLight {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
.touchEffectLight:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.touchEffectDark {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(38, 39, 40, 0);
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
.touchEffectDark:hover {
  background-color: rgba(38, 39, 40, 0.5);
}
.touchEffectGreen {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 178, 134, 0);
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.touchEffectGreen:hover {
  background-color: rgba(0, 178, 134, 0.2);
}
.navBarContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  min-width: 750px;
  height: 60px;
  font-family: 'proximaNova-Regular';
  background-color: #262728;
}
.navBarLogo {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 84px;
  width: 170px;
  height: 60px;
  background: url("../images/navBar/logo_icon.png") no-repeat 20px center;
  background-size: 36px;
  color: #70767f;
  text-align: center;
  line-height: 60px;
  font-size: 19px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 56px;
  cursor: pointer;
}
.logoGreyFont {
  color: #bec3cc;
}
.navBarActionsContainer {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 94px;
  width: 338px;
  height: 60px;
}
.navBarChatButton {
  position: absolute;
  z-index: 1;
  height: 60px;
  width: 55px;
  background: url("../images/navBar/chat_icon.png") no-repeat center;
  background-size: 35px;
  cursor: pointer;
}
.navBarSearchField {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 65px;
  height: 30px;
  width: 200px;
  padding: 0px 5px 0px 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #44474b;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 30px;
  color: #fff;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 14px;
  background: url("../images/navBar/search_icon.png") no-repeat right center #262728;
  background-size: 25px;
  display: block;
}
.navBarSettingsButton {
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0;
  background: url("../images/navBar/down_arrow_icon.png") no-repeat right center;
  background-size: 11px;
  height: 60px;
  width: 65px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.navBarUserAvatar {
  position: absolute;
  z-index: 1;
  top: 16px;
  left: 16px;
  background: no-repeat center;
  background-size: 100%;
  height: 30px;
  width: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.navBarSettingsContainer {
  position: absolute;
  z-index: 2;
  top: 55px;
  right: 86px;
  width: 98px;
  height: 128px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #f4f5f7;
  visibility: hidden;
}
.navBarSettingsContainerActive {
  visibility: visible;
}
.navBarSettingsLink {
  position: relative;
  line-height: 31px;
  border-bottom: 1px solid #dee1e5;
  font-size: 12px;
  color: #70767f;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 17px;
}
.navBarSettingsLink:nth-child(4n+4) {
  border-bottom: 0px;
}
.messageContainer {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear 0.3s, opacity 0.2s ease-in;
  -moz-transition: visibility 0s linear 0.3s, opacity 0.2s ease-in;
  -ms-transition: visibility 0s linear 0.3s, opacity 0.2s ease-in;
  -o-transition: visibility 0s linear 0.3s, opacity 0.2s ease-in;
  transition: visibility 0s linear 0.3s, opacity 0.2s ease-in;
}
.messageContainerActive {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0s linear 0s, opacity 0.2s ease-in;
  -moz-transition: visibility 0s linear 0s, opacity 0.2s ease-in;
  -ms-transition: visibility 0s linear 0s, opacity 0.2s ease-in;
  -o-transition: visibility 0s linear 0s, opacity 0.2s ease-in;
  transition: visibility 0s linear 0s, opacity 0.2s ease-in;
}
.messageBackgroundCover {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.sendMessageContainer {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 215px;
  width: 575px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #dee1e6;
  font-family: 'Open Sans';
  font-weight: 300;
}
.messageCloseButton {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 50px;
  height: 50px;
  background: url("../images/message/close_button.png") no-repeat center;
  background-size: 25px;
  cursor: pointer;
}
.messageTitle {
  position: relative;
  padding: 22px 25px 0 25px;
  font-size: 17px;
  line-height: 17px;
  color: #70767f;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.sendMessageField {
  position: relative;
  height: 90px;
  width: 525px;
  margin: 20px auto 0 auto;
  padding: 3px 10px 3px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 24px;
  color: #3f454d;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 16px;
  display: block;
  background-color: #fff;
  border: 0;
}
.sendMessageField:focus {
  outline-width: 0;
}
.messageAddPhotoButton {
  position: absolute;
  left: 29px;
  bottom: 20px;
  color: #a7aab1;
  font-family: 'Open Sans';
  font-weight: 300;
  line-height: 25px;
  background: url("../images/message/photo_icon_grey.png") no-repeat left center;
  background-size: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 29px;
  font-size: 14px;
}
.messageAddVideoButton {
  position: absolute;
  left: 170px;
  bottom: 20px;
  color: #a7aab1;
  font-family: 'Open Sans';
  font-weight: 300;
  line-height: 25px;
  background: url("../images/message/video_icon_grey.png") no-repeat left center;
  background-size: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 29px;
  font-size: 14px;
}
.messagePostButton {
  position: absolute;
  right: 25px;
  bottom: 15px;
  width: 75px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 14px;
  background-color: #01b286;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.homeContainer {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 1;
  width: 100%;
  min-width: 750px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 60px;
}
.homeMainContainer {
  position: relative;
  width: 100%;
  height: 422px;
  background: url("../images/global/main_bg_image.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.homeSendMessageContainer {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 558px;
  height: 156px;
  background-color: rgba(0, 178, 134, 0.7);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.homeSendMessageField {
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 0;
  height: 40px;
  width: 100%;
  padding: 0px 29px 0px 29px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 40px;
  color: #fff;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 30px;
  display: block;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
}
.homeSendMessageField:focus {
  outline-width: 0;
}
.homeSendMessageField::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(255, 255, 255, 0.5);
}
.homePostButton {
  position: absolute;
  right: 25px;
  bottom: 15px;
  width: 75px;
  line-height: 35px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 26px;
  visibility: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.homePostButtonActive {
  visibility: visible;
}
.homeAddPhotoButton {
  position: absolute;
  left: 29px;
  bottom: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Open Sans';
  font-weight: 300;
  line-height: 25px;
  background: url("../images/home/photo_icon.png") no-repeat left center;
  background-size: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 29px;
  font-size: 14px;
}
.homeAddVideoButton {
  position: absolute;
  left: 170px;
  bottom: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Open Sans';
  font-weight: 300;
  line-height: 25px;
  background: url("../images/home/video_icon.png") no-repeat left center;
  background-size: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 29px;
  font-size: 14px;
}
.homePostsTabsContainer {
  position: absolute;
  bottom: 4px;
  left: 50%;
  margin-left: -279px;
  width: 558px;
  height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.homePostsTab {
  position: relative;
  float: left;
  margin-right: 40px;
  line-height: 50px;
  color: #bec3cc;
  font-size: 13px;
  font-family: 'Open Sans';
  font-weight: 600;
  padding: 0 10px 0 10px;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}
.homePostsTab:hover {
  color: #fff;
  cursor: pointer;
}
.homePostsTabActive {
  border-bottom: 4px solid #00cc99;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  cursor: default !important;
}
.togglePostButtonsContainer {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 80px;
  visibility: hidden;
}
.togglePostButtonsContainerActive {
  visibility: visible;
}
.toogleGridViewButton {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 20px;
  background: url("../images/home/grid_icon.png") no-repeat center;
  background-size: 11px;
  cursor: pointer;
}
.toogleGridViewButtonActive {
  background-image: url("../images/home/grid_icon_active.png");
}
.toogleListViewButton {
  position: absolute;
  top: 0;
  right: 26px;
  height: 50px;
  width: 20px;
  background: url("../images/home/list_icon.png") no-repeat center;
  background-size: 11px;
  cursor: pointer;
}
.toogleListViewButtonActive {
  background-image: url("../images/home/list_icon_active.png");
}
.homePostsContainer {
  position: relative;
  width: 100%;
  max-width: 1250px;
  margin: auto;
  padding: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.settingsContainer {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 1;
  width: 100%;
  min-width: 750px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 60px;
}
.settingsWrapper {
  position: relative;
  width: 575px;
  margin: auto;
  font-family: 'Open Sans';
  font-weight: 300;
}
.settingsTitle {
  position: relative;
  font-size: 31px;
  color: #3f454d;
  line-height: 31px;
  margin-top: 46px;
}
.settingsSection {
  position: relative;
  width: 100%;
  padding: 25px 0 30px 0;
  border-bottom: 1px solid #dee1e5;
  min-height: 200px;
}
.settingsSectionTitle {
  position: relative;
  line-height: 56px;
  color: #70767f;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 13px;
  width: 100%;
}
.settingsSectionTitlePadding {
  padding-bottom: 12px;
}
.settingsAvatarImage {
  position: absolute;
  z-index: 1;
  top: 82px;
  left: 0px;
  background: no-repeat center;
  background-size: 100%;
  height: 85px;
  width: 85px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.settingsChangeImageButton {
  position: absolute;
  z-index: 1;
  top: 177px;
  left: 0px;
  line-height: 25px;
  width: 85px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #bec3cc;
  color: #bec3cc;
  font-size: 12px;
  text-align: center;
}
.settingsField {
  position: relative;
  height: 40px;
  width: 366px;
  margin: 0 0 20px 135px;
  padding: 0px 5px 0px 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #bec3cc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 30px;
  color: #3f454d;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 16px;
  background: no-repeat left center #ffffff;
  background-size: 25px;
  display: block;
}
.settingsNameIcon {
  background-image: url("../images/settings/name_icon.png");
}
.settingsNameIcon:focus {
  background-image: url("../images/settings/name_icon_active.png");
  outline-width: 0;
  border: 1px solid #00b286;
  color: #00b286;
}
.settingsEmailIcon {
  background-image: url("../images/settings/email_icon.png");
}
.settingsEmailIcon:focus {
  background-image: url("../images/settings/email_icon_active.png");
  outline-width: 0;
  border: 1px solid #00b286;
  color: #00b286;
}
.settingsPasswordIcon {
  background-image: url("../images/settings/password_icon.png");
}
.settingsPasswordIcon:focus {
  background-image: url("../images/settings/password_icon_active.png");
  outline-width: 0;
  border: 1px solid #00b286;
  color: #00b286;
}
.settingsPreference {
  position: relative;
  width: 100%;
  padding-left: 75px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 27px;
  color: #70767f;
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 300;
  margin-bottom: 20px;
}
.settingsPreferencePadding {
  padding-left: 50px;
}
.settingsPreferenceToggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 50px;
  height: 27px;
  background: url("../images/settings/toggle_off.png") no-repeat center;
  background-size: 100%;
  cursor: pointer;
}
.settingsPreferenceToggleActive {
  background-image: url("../images/settings/toggle_on.png");
}
.settingsPreferenceInput {
  position: absolute;
  top: 2px;
  left: 0;
  z-index: 1;
  width: 23px;
  height: 23px;
  background: no-repeat center;
  background-size: 15px;
  cursor: pointer;
  border: 1px solid #bec3cc;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  -o-border-radius: 27px;
  border-radius: 27px;
}
.settingsPreferenceInputActive {
  background-image: url("../images/settings/green_dot.png");
}
.profileAvatarImage {
  position: absolute;
  z-index: 1;
  top: 87px;
  left: 50%;
  margin-left: -43px;
  background: no-repeat center;
  background-size: 100%;
  height: 86px;
  width: 86px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.profileName {
  position: relative;
  font-size: 31px;
  color: #fff;
  line-height: 31px;
  margin: auto;
  width: 500px;
  font-family: 'Open Sans';
  font-weight: 300;
  text-align: center;
  padding-top: 195px;
}
.profileDescription {
  position: relative;
  width: 500px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-family: 'Open Sans';
  font-weight: 300;
  text-align: center;
  margin: auto;
  padding-top: 15px;
}
.profileDescription a:link,
.profileDescription a:visited,
.profileDescription a:hover {
  color: #3f454d;
  text-decoration: none;
}
.profilePost {
  position: absolute;
  z-index: -1;
  top: 50px;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 30px;
  color: #bec3cc;
  font-size: 22px;
  font-family: 'Open Sans';
  font-weight: 300;
  text-align: center;
  cursor: pointer;
}
.postsContainer {
  position: relative;
  display: none;
}
.postsGridContainer {
  position: relative;
  display: none;
}
.postsActive {
  display: inherit;
}
.postRowList {
  position: relative;
  width: 575px;
  margin: 25px auto 10px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #dee1e5;
  font-family: 'Open Sans';
  font-weight: 300;
  background-color: #fff;
}
.postAvatar {
  position: absolute;
  top: 25px;
  left: 25px;
  background: no-repeat center;
  background-size: 100%;
  height: 40px;
  width: 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.postTime {
  position: absolute;
  top: 25px;
  right: 25px;
  color: #bec3cc;
  font-size: 14px;
  line-height: 14px;
}
.postFavoriteButton {
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 55px;
  width: 35px;
  height: 35px;
  background: url("../images/post/heart_icon.png") no-repeat center;
  background-size: 15px;
  cursor: pointer;
}
.postShareButton {
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 92px;
  width: 35px;
  height: 35px;
  background: url("../images/post/share_icon.png") no-repeat center;
  background-size: 15px;
  cursor: pointer;
}
.postUserName {
  position: relative;
  padding: 25px 25px 0 83px;
  font-size: 17px;
  line-height: 17px;
  color: #3f454d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.postText {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px 25px 15px 83px;
  font-size: 15px;
  line-height: 24px;
  color: #70767f;
  overflow: hidden;
}
.postAllListPhoto {
  position: relative;
  background: no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 315px;
  width: 100%;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  margin-top: 10px;
}
.postToggleContainer {
  position: relative;
  margin: 0 0 10px 0px;
  height: 30px;
  width: 100%;
}
.expandCommentsButton {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 73px;
  width: 80px;
  height: 100%;
  font-size: 12px;
  line-height: 30px;
  color: #bec3cc;
  background: url("../images/post/down_arrow_icon.png") no-repeat 58px center;
  background-size: 11px;
  cursor: pointer;
  padding: 0 10px 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.collapseCommentsButton {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 73px;
  width: 80px;
  height: 100%;
  font-size: 12px;
  line-height: 30px;
  color: #bec3cc;
  background: url("../images/post/up_arrow_icon.png") no-repeat 65px center;
  background-size: 11px;
  cursor: pointer;
  padding: 0 10px 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.postCommentsContainer {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.commentRowListFormat {
  position: relative;
  width: 100%;
  padding: 0px 0 25px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #eff0f2;
  background-color: #f9fafc;
}
.gridLeft {
  position: relative;
  float: left;
  width: 33%;
  padding-right: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.gridRight {
  position: relative;
  float: left;
  width: 34%;
}
.postRowGrid {
  position: relative;
  width: 100%;
  margin: 25px auto 10px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #dee1e5;
  font-family: 'Open Sans';
  font-weight: 300;
}
.postAllGridPhoto {
  position: relative;
  background: no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 215px;
  width: 100%;
  margin: 10px 0 10px 0;
}
.postTextGrid {
  position: relative;
  width: 96%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px 25px 15px 83px;
  font-size: 15px;
  line-height: 24px;
  color: #70767f;
  overflow: hidden;
}
.postTimeGrid {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #bec3cc;
  font-size: 14px;
  line-height: 14px;
}
.postFavoriteButtonGrid {
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 55px;
  width: 35px;
  height: 35px;
  background: url("../images/post/heart_icon.png") no-repeat center;
  background-size: 15px;
  cursor: pointer;
}
.postShareButtonGrid {
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 92px;
  width: 35px;
  height: 35px;
  background: url("../images/post/share_icon.png") no-repeat center;
  background-size: 15px;
  cursor: pointer;
}
.clear {
  clear: both;
}
