.background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* FONTS */
.Brown-Light {
  font-family: Brown-Light;
}
.Brown-Thin {
  font-family: Brown-Thin;
}
.Brown-Bold {
  font-family: Brown-Bold;
}
/* PROXIMA NOVA */
@font-face {
  font-family: Brown-Light;
  src: url(../fonts/brown/Brown-Light.ttf);
}
@font-face {
  font-family: Brown-Thin;
  src: url(../fonts/brown/Brown-Thin.ttf);
}
@font-face {
  font-family: Brown-Bold;
  src: url(../fonts/brown/Brown-Bold.ttf);
}
body {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.imagePreLoader {
  background-image: url(../images/intro/intro_bg.jpg) -9999px -9999px, url(../images/lessons/lessons_bg.jpg) -9999px -9999px, url(../images/lessons/lessons_bg.jpg) -9999px -9999px;
}
#appContainer {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#appViews {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.touchEffect {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -ms-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.touchEffectActive {
  background-color: rgba(255, 255, 255, 0.2);
}
.touchEffectDark {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -ms-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.touchEffectDarkActive {
  background-color: rgba(0, 0, 0, 0.1);
}
.touchEffectDarkRound {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -ms-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.touchEffectDarkRoundActive {
  background-color: rgba(0, 0, 0, 0.1);
}
.introContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  background: url("../images/intro/intro_bg.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.introLogo {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80px;
  height: 100px;
  background: url("../images/intro/g_logo.png") no-repeat center;
  background-size: 100%;
}
.introText {
  position: absolute;
  bottom: 113px;
  width: 100%;
  line-height: 24px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: Brown-Light;
}
.introButton {
  position: absolute;
  bottom: 35px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  height: 60px;
  line-height: 64px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #ca2b2b;
  color: #fff;
  font-family: Brown-Bold;
  text-align: center;
  font-size: 18px;
}
.lessonsContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  background: url("../images/lessons/lessons_bg.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.lessonsWrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: 260px;
}
.lessonsText {
  position: absolute;
  top: -60px;
  width: 100%;
  line-height: 23px;
  font-size: 23px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: Brown-Light;
}
.lessonsButton {
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 64px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #d6c7be;
  color: #896162;
  font-family: Brown-Bold;
  text-align: center;
  font-size: 18px;
  margin-top: 5px;
}
.lessonsButtonHighLight {
  background-color: #fff;
  color: #946e59;
}
.navBar {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #fff;
}
.navBarTitle {
  position: relative;
  width: 160px;
  height: 60px;
  line-height: 64px;
  margin: auto;
  text-align: center;
  background: url("../images/global/g_logo_small.jpg") no-repeat left center;
  background-size: 30px;
  color: #555351;
  font-family: Brown-Bold;
}
.navBarMenuButton {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: url("../images/global/menu_icon.png") no-repeat center;
  background-size: 26px;
}
.navBarExitButton {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: url("../images/global/exit_icon.png") no-repeat center;
  background-size: 26px;
}
.navBarTitleMenu {
  width: 120px;
}
.menuContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  background-color: #ffffff;
}
.menuWrapper {
  position: relative;
  width: 100%;
  padding-top: 70px;
}
.menuTitle {
  position: relative;
  font-size: 13px;
  color: #9a9a9a;
  line-height: 30px;
  padding-left: 10px;
  font-family: Brown-Light;
}
.menuButton {
  position: relative;
  color: #444444;
  border-bottom: 1px solid #e7e7e7;
  font-size: 24px;
  line-height: 50px;
  padding-left: 20px;
  font-family: Brown-Bold;
}
.menuButtonNoBorder {
  border-bottom: 0px solid #e7e7e7;
}
.beginnerContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.beginnerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  padding-top: 70px;
}
.beginnerItemWrapper {
  position: relative;
  width: 100%;
  height: 200px;
}
.beginnerItem {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  background: url("../images/beginner/part_one.jpg") no-repeat center;
  background-size: 100%;
}
.beginnerItemText {
  position: absolute;
  top: 70px;
  right: 0;
  width: 80px;
  height: 80px;
  color: #946e59;
  text-align: center;
  font-size: 14px;
  font-family: Brown-Light;
  line-height: 20px;
}
