
/* FONTS */
.proximaNova-Regular-font {font-family: 'proximaNova-Regular';}
.openSans-Light-font {font-family: 'Open Sans';font-weight: 200;}

/* PROXIMA NOVA */

@font-face {
    font-family: proximaNova-Regular;
    src: url(../fonts/proximaNova/ProximaNova-Regular.otf);
}


